---
layout: default
---
<header class="secondary" style="background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(224, 251, 252, 1)), url(/src/img/post_headers/{{ page.headerImg }})">
  <h1>{{ page.title }}</h1>
  <ul class="tags center">
    {% for tag in page.tags %}
      {% if tag != "all" %}
        <li>{{ tag }}</li>
      {% endif %}
    {% endfor %}
  </ul>
  <time>{{ page.date | date: "%A, %B %e, %Y" }}</time>
</header>

<main>
  <article>
    {% if page.youtubeURL %}
      <div class="panel marbottom">
        <header>If you'd prefer, there is a video version of this tutorial available:</header>
        <div class="video-container">
          <iframe src="{{ page.youtubeURL }}?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    {% endif %}
    {{ content }}
    <hr />
    <p>
      Header Image courtesy of <a href="{{ page.imgHref }}" target="_blank">{{ page.imgCredit }}</a>
    </p>
    <button class="btn" id="share-btn" data-url="{{ page.permalink }}" data-title="{{ page.title }}">
      <i class="fa fa-share-alt"></i>
      Share this Post!
    </button>
    <div class="panel" id="share-fallback">
      <header>Share this Post!</header>
      <a href="https://saricden.github.io{{ page.permalink }}">https://saricden.github.io{{ page.permalink }}</a>
    </div>

    <div id="disqus_thread"></div>
    <script>

    var disqus_config = function () {
      this.page.url = "https://saricden.github.io{{ page.permalink }}"
      this.page.identifier = "{{ page.id }}";
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://internet-science.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                            
  </article>
</main>